@using Model.Entities
<div class="hd-col28">
    @{
        var kh = (Customer)Session["khachhang"];
    }
    <ul class="hd-hdbtn clearfix">
        <li><a class="hd-hdr-ch" data-toggle="modal" data-target="#gui-cau-hoi" href="" title="">Đặt câu hỏi</a></li>      
        @{
            if (kh == null)
            {
                <li><a class="hd-hdr-dn" data-toggle="modal" data-target="#dang-nhap" href="" title="">Đăng nhập</a></li>
            }
            else
            {             
                        <li>
                            <a class="hd-hdr-use" href="" title=""><img src="images/user.png" alt=""> <strong>@kh.FullName</strong></a>

                            <ul>
                                <li><a href="" title="">Câu hỏi của bạn</a></li>

                                <li><a href="javascript:load();" class="logout" title="">Thoát</a></li>
                            </ul>
                        </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
        function load() {     
            $.ajax({                  
                url: '/LoginSocial/LogOut',
                type: 'POST',
                    success: function () {                  
                        location.reload();
                    }
                });          
        }   
</script>

