@using Model.Entities

<link href="~/Content/bootstrap-social.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    .btn-google {
          width:100%; 
          background:red;
          height:45px;
          text-align:center;
          position:relative;
          margin-top:5px;        
    }
    .btn-facebook {
        width:100%;
        height:45px;
        
        position:relative;
        margin-top:5px;
    }
    .fa-facebook {
        font-size:35px;
        
        font-style:normal;
        color:white;
        margin-left:-220px;
    }
    .textfb {
        position:absolute;
        
        top:12px;
        left:70px;
    }
    .fa-google-plus {
      font-size:35px; 
      font-style:normal;
      color:white; 
     
      border:solid 2px #e3411f ;
      background:#e3411f;
       margin-left:-200px;
    }
    .text {
        
        position:absolute;
        top: 12px;
        left: 70px;
    }
        .btn-google:hover:not(:empty) {
            
        }
  
</style>
<div class="modal fade" id="dang-nhap" tabindex="-1" role="dialog">
    <div class="modal-dialog md-dnhap" role="document">
        <div class="modal-content md-mnis">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ĐĂNG NHẬP</h4>
            </div>
            <div class="modal-body">
                <div class="hd-dn1" style="display: block">
                    <p class="hd-mdln1">Đăng nhập để nhận được thông báo khi có người trả lời cho bạn</p>
                    <ul class="hd-mdlink">
                       @{ 
                           using (Html.BeginForm("LoginWithGooglePlus", "LoginSocial",FormMethod.Post /*, new { ReturnUrl = Model.ReturnUrl }*/))
                           {
                               @Html.AntiForgeryToken()

                                    @*<li><a href="" title="" id="Facebook" name="provider"><img src="/images/lg-fb.png"></a></li>
                                    <li><a href="javascript:click()" name="provider" title="" id="Google"><img src="/images/lg-gg.png"></a></li>*@

                                    <li>
                                        <button type="submit" class="btn btn-facebook" id="Facebook" style="background-color:#3b5998" name="provider" value="Facebook" title="Log in using your Facebook account">
                                        <i class="fa fa-facebook"></i>
                                        <span class="textfb">Đăng nhập bằng Facebook</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="submit" class="btn btn-google" style="background-color:#e3411f;" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                            <i class="fa fa-google-plus"></i>
                                            <span class="text">Đăng nhập bằng Google</span>
                                        </button>
                                    </li>
                           }

                    }
                    </ul>
                </div>
                <div class="hd-dn2" style="display: none">
                    <p class="hd-mdln2">Đăng nhập bằng facebook thành công</p>
                    <p class="hd-mdln3">Hãy nhập email hoặc số điện thoại để nhân thông báo khi có người trả lời</p>
                    <p class="hd-mdln4"><input type="text" class="" placeholder="Hãy nhập email hoặc số điện thoại"></p>
                    <p class="hd-mdln5"><button type="button">Đăng nhập</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$(function click() {
   
    //$(document).ready(function () {
    //    $("#Google").off('click').on('click', function (e) {
           // e.preventDefault();
        //$.ajax({
        //    url: '/LoginSocial/LoginWithGooglePlus',
        //    type: 'POST',
        //    contentType: "application/javascript; charset=utf-8",
        //    success: function () {

        //    }
        //    //    });
        //    //});
        //});
    //})
</script>
