<header class="fs-header">
    <div class="f-hdtop">
        <div class="f-wrap">
            <a class="fs-logo" href="" title=""><i class="ficon f-logo"></i></a>
            <ul class="fs-hdmn">
                <li><a href="" title=""><img src="/images/icon_trogia.gif" alt=""> <span>Điện thoại trợ giá</span></a></li>
                <li>
                    <a href="" title=""><i class="ficon f-news"></i> <span>Tin hay</span></a>
                    <ul class="fs-hdmsub fs-hdmsnews">
                        <li><a href="" title="">Tin mới</a></li>
                        <li><a href="" title="">Diễn đàn</a></li>
                        <li><a href="" title="">Khuyến mãi</a></li>
                        <li><a href="" title="">Thủ thuật</a></li>
                        <li><a href="" title="">Video hot</a></li>
                        <li><a href="" title="">Góc khách hàng</a></li>
                        <li><a href="" title="">Đánh giá - Tư vấn</a></li>
                        <li><a href="" title="">Xu hướng</a></li>
                        <li><a href="" title="">Giải trí</a></li>
                    </ul>
                </li>
                <li><a href="" title=""><i class="ficon f-mtts"></i> <span>Mua trước trả sau</span></a></li>
                <li><a href="/gio-hang" title=""><i class="ficon f-cart"></i> <span>Giỏ hàng</span><b class="fs-cartic countTotalCart" style="display: none;">0</b></a></li>
            </ul>
            <div class="fs-search">
                <form action="" method="get" autocomplete="off">
                    <input class="fs-stxt" type="text" name="" placeholder="Nhập tên điện thoại, máy tính, phụ kiện... cần tìm" autocomplete="off" maxlength="50">
                    <button type="submit"><i class="ficon f-search"></i></button>
                    <div class="fs-sresult">
                        <div class="fs-sremain">
                            <ul>
                                <li>
                                    <a href="" title="">
                                        <p><img src="/images/ex/prod.jpg" alt=""></p>
                                        <div>
                                            <h3>iPhone 7 New 64GB</h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <p><img src="/images/ex/prod.jpg" alt=""></p>
                                        <div>
                                            <h3>iPhone 7 New 64GB</h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <p><img src="/images/ex/prod.jpg" alt=""></p>
                                        <div>
                                            <h3>iPhone 7 New 64GB</h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <p><img src="/images/ex/prod.jpg" alt=""></p>
                                        <div>
                                            <h3>iPhone 7 New 64GB</h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <p><img src="/images/ex/prod.jpg" alt=""></p>
                                        <div>
                                            <h3>iPhone 7 New 64GB</h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav class="fs-menu">
        <div class="f-wrap">
            <ul class="fs-mnul clearfix">
                <li>
                    <a href="" title=""><i class="ficon f-dthoai"></i> ĐIỆN THOẠI <span class="ficon"></span></a>
                    <div class="fs-mnsub">
                        <div class="fs-mnbox">
                            <div class="fs-mntd fs-mntd1">
                                <h3 class="fs-mnstit">Thương hiệu</h3>
                                <ul class="fs-mnsul fs-mnsul3 clearfix">
                                    <li><a href="" title="">Apple (iPhone)</a></li>
                                    <li><a href="" title="">OPPO</a></li>
                                    <li><a href="" title="">Sony</a></li>
                                    <li><a href="" title="">Samsung</a></li>
                                    <li><a href="" title="">Wing</a></li>
                                    <li><a href="" title="">Nokia</a></li>
                                    <li><a href="" title="">Wiko</a></li>
                                    <li><a href="" title="">HTC</a></li>
                                    <li><a href="" title="">Asus</a></li>
                                    <li><a href="" title="">Lenovo</a></li>
                                    <li><a href="" title="">Gionee</a></li>
                                    <li><a href="" title="">Philips</a></li>
                                    <li><a href="" title="">Mobell</a></li>
                                    <li><a href="" title="">MEIZU</a></li>
                                    <li><a href="" title="">Huawei</a></li>
                                    <li><a href="" title="">OnePlus</a></li>
                                    <li><a href="" title="">Mobiistar</a></li>
                                    <li><a href="" title="">Coolpad</a></li>
                                    <li><a href="" title="">Masstel</a></li>
                                </ul>
                            </div>
                            <div class="fs-mntd fs-mntd2">
                                <h3 class="fs-mnstit">Mức giá</h3>
                                <ul class="fs-mnsul fs-mnsul1 clearfix">
                                    <li><a href="" title="">Dưới 1 triệu </a></li>
                                    <li><a href="" title="">Từ 1 triệu đến 3 triệu</a></li>
                                    <li><a href="" title="">Từ 3 triệu đến 6 triệu</a></li>
                                    <li><a href="" title="">Từ 6 triệu đến 10 triệu</a></li>
                                    <li><a href="" title="">Trên 10 triệu</a></li>
                                </ul>
                            </div>
                            <div class="fs-mntd fs-mntd3">
                                <h3 class="fs-mnstit">Bán chạy nhất</h3>
                                <ul class="fs-mnsprod">
                                    <li class="clearfix">
                                        <a class="fs-mnspimg" href="" title=""><img src="/images/ex/prod.jpg" alt=""></a>
                                        <div>
                                            <h3><a href="" title="">Samsung Galaxy J7 Prime</a></h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="fs-mnspimg" href="" title=""><img src="/images/ex/prod.jpg" alt=""></a>
                                        <div>
                                            <h3><a href="" title="">Samsung Galaxy J7 Prime</a></h3>
                                            <p>5.650.000 ₫</p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="fs-mnsbxh"><a href="" title="">Xem bảng xếp hạng điện thoại</a></p>
                            </div>
                            <div class="fs-mntd fs-mntd4">
                                <a href="" title=""><img src="/images/ex/mnbn.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="" title=""><i class="ficon f-laptop"></i> LAPTOP <span class="ficon"></span></a></li>
                <li><a href="" title=""><i class="ficon f-apple"></i> APPLE <span class="ficon"></span></a></li>
                <li><a href="" title=""><i class="ficon f-samsung"></i></a></li>
                <li><a href="" title=""><i class="ficon f-tablet"></i> TABLET <span class="ficon"></span></a></li>
                <li><a href="" title=""><i class="ficon f-pkien"></i> PHỤ KIỆN <span class="ficon"></span></a></li>
                <li><a href="" title=""><i class="ficon f-mdt"></i> MÁY ĐỔI TRẢ</a></li>
                <li class="fs-mnulsb">
                    <a href="" title=""><i class="ficon f-simthe"></i> SIM & THẺ <span class="ficon"></span></a>
                    <ul class="fs-hdmsub fs-hdmsubsmall">
                        <li><a href="" title="">SIM</a></li>
                        <li><a href="" title="">Thẻ cào</a></li>
                        <li><a href="" title="">Nạp tiền trả trước</a></li>
                    </ul>
                </li>
                <!--<li><a href="" title=""><i class="ficon f-xahang"></i> XẢ HÀNG </a></li>-->
                <li><a href="" title=""><i class="ficon f-kmai"></i> KHUYẾN MÃI </a></li>
            </ul>
        </div>
    </nav>
</header>
